</head>
<body class="flex">
  <nav class="min-h-screen bg-secondary w-1/5">
    <ul class="menu menu-compact text-secondary-content">
      <li><a class="uppercase" href="#">All items</a></li>
      <li><a class="uppercase" href="#">All departments</a></li>
      <li><a class="uppercase" href="#">Create new department</a></li>
      <li><a class="uppercase" href="#">Create new item</a></li>
      <li></li>
      <li class="pl-2">Sort by...</li>
      <% depts.map(dept => { %>
          <li><a href="<%= dept.url %>"><%= dept.name %></a></li>
      <% }) %>
    </ul>
  </nav>