<%- include('partials/_top') %>
<main class="min-h-screen bg-base-100 w-full py-6 px-10">
    <div class="prose pb-4">
        <h1 class="uppercase">Create Item</h1>
    </div>
    <form action="/inventory/item/create" method="post" class="form-control">
        <label class="label uppercase" for="name">Name:</label>
        <input class="input input-bordered input-sm" type="text" id="name" name="name" required /> 

        <label class="label uppercase" for="dept">Dept:</label>
        <select class="select select-bordered select-sm" name="dept" required>
            <option class="uppercase" value="" selected>Select a Department</option>
            <% depts.map(dept => { %>
                <option class="uppercase" value="<%= dept.name %>"><%= dept.name %></option>
            <% }); %>
        </select>

        <label class="label uppercase" for="brand">Brand:</label>
        <input class="input input-bordered input-sm" type="text" id="brand" name="brand" /> 

        <label class="label uppercase" for="details">Details:</label>
        <textarea class="textarea textarea-bordered" rows="1" name="details" id="details"
        maxlength="100"></textarea>

        <label class="label uppercase" for="priceperunit">$/unit:</label>
        <input class="input input-bordered input-sm" type="number" id="priceperunit" 
            name="priceperunit" min="0" step="0.01" />

        <label class="label uppercase" for="priceperpound">$/lb:</label>
        <input class="input input-bordered input-sm" type="number" id="priceperpound" 
            name="priceperpound" min="0" step="0.01" /> 

        <label class="label uppercase" for="units">Units</label>
        <input class="input input-bordered input-sm" type="number" id="units" name="units" min="0"
            step="1" >

        <label class="label uppercase" for="poundsstocked">lbs stocked</label>
        <input class="input input-bordered input-sm mb-4" type="number" id="poundsstocked" 
            name="poundsstocked" min="0" step="0.01" />

        <button type="submit" class="btn btn-primary uppercase">Submit</button>
    </form>
</main>
<%- include('partials/_bottom') %>
