<%- include('partials/_top') %>
<title>Inventory Manager - <%= title %></title>
<%- include('partials/_middle1') %>
  <main class="min-h-screen bg-base-100 w-full max-w-none prose p-4 prose-h2:text-base">
    <h1 class="text-base-content">Inventory Manager Home</h1>
    <h2 class="text-base-content">Welcome to Inventory Manager for SuperGroceries</h2>
  </main>
<%- include('partials/_bottom') %>

